.wrapper
  = render 'devise/shared/side_bar'
  
  .main
    .main__header
      .main__header__left__box
        %h2.main__header__left__box__current-group SATC
        %ul.main__header__left__box__members
          Member：
          %li.main__header__left__box__member Carrie
      =link_to "/groups/edit", class: "main__header__right__box" do
        .main__header__right__box__edit-btn Edit
    .main__content
      .main__content__message
        .main__content__message__upper-box
          %p.main__content__message__upper-box__user-name Carrie
          %p.main__content__message__upper-box__time 2019/08/01
        .main__content__message__text-box
          %p.main__content__message__text-box__text I will not be the first one to speak. And if he never calls me again, I'll always think of him fondly. As an asshole. 
    .form
      = form_for [@group, @message] do |f|
        .form__box
          = f.text_field :content, class: 'form__box__message', placeholder: 'type a message'
          .form__box__mask
            = f.label :image, class: 'form__box__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

